.container {
  position: relative;
}

.tasks {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  width: 5%;
  margin-right: 10%;
  top: 1vh;
  right: 5vh;
  position: absolute;
}

.fabWrapper {
  position: absolute;
  top: 0;
  right: 4vw;
}

.fab {
  z-index: 100;
  position: fixed;
}
