<div class="container" (drop)="onDrop($event)" (dragover)="allowDrop($event)">
  <p></p>
  <ng-container *ngIf="isTabView">
    <table cdkDropListGroup>
      <tr>
        <ng-container *ngFor="let column of displayedColumns ; let i = index">
          <th class="header" cdkDropList cdkDropListLockAxis="x" cdkDropListOrientation="horizontal"
            (cdkDropListDropped)="dropListDropped($event, i)" cdkDrag (cdkDragStarted)="dragStarted($event, i)"
            [cdkDragData]="{name: column, columIndex: i}">
            {{ column }}
          </th>
        </ng-container>
      </tr>
    
      <ng-container *ngFor="let data of dataSource; let j = index">
        <tr>
          <ng-container *ngFor="let column of displayedColumns ; let i = index">
            <ng-container *ngIf="getRowSpan(column,j)">
              <td [attr.rowspan]="getRowSpan(column,j)">
                {{ transform(data[column],column) }}</td>
            </ng-container>
          </ng-container>
        </tr>
      </ng-container>
    </table>
  </ng-container>
  <div>
    <canvas #myCanvas width="250" height="250">
      {{chart}}
    </canvas>
  </div>
  <div class="tasks">
    <button *ngFor="let task of tasksList" (click)="changeChartView($event)">{{ task.name }}</button>
  </div>
</div>