<mat-select class="select_param" [(value)]="column" (selectionChange)="changeColumn()" [hidden]="thereIsNoData()">
  <mat-option *ngFor="let column of columns" [value]="column">
    {{column}}
  </mat-option>
</mat-select>

<mat-tab-group [(selectedIndex)]="selectedIndex" [hidden]="thereIsNoData()">
  <mat-tab label="Groupement" class="titre_tab">
    <table mat-table [dataSource]="dataSourceGpmt" class="mat-elevation-z8">
      <!-- Checkbox Column -->
      <ng-container matColumnDef="select">
        <th mat-header-cell *matHeaderCellDef>
          <mat-checkbox (change)="$event ? masterToggleGpmt() : null" [checked]="selectionGpmt.hasValue() && isAllSelectedGpmt()"
            [indeterminate]="selectionGpmt.hasValue() && !isAllSelectedGpmt()" [aria-label]="checkboxLabelGpmt()">
          </mat-checkbox>
        </th>
        <td mat-cell *matCellDef="let row">
          <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? setActifInactif(row) : null"
            [checked]="selectionGpmt.isSelected(row)" [aria-label]="checkboxLabelGpmt(row)">
          </mat-checkbox>
        </td>
      </ng-container>

      <ng-container *ngFor="let column of displayedColumns">
        <ng-container *ngIf='column != "select"'>
          <ng-container [matColumnDef]="column">
            <th mat-header-cell *matHeaderCellDef> {{ column }} </th>
            <td mat-cell *matCellDef="let element"> {{element.name}} </td>
          </ng-container>
        </ng-container>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="setActifInactif(row)">
      </tr>
    </table>
    <button class="addButton" mat-icon-button (click)="whichDialog()">+</button>

  </mat-tab>

  <mat-tab label="Filtrage" class="titre_tab">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

      <ng-container matColumnDef="select">
        <th mat-header-cell *matHeaderCellDef>
          <mat-checkbox (change)="$event ? masterToggle() : null" [checked]="selectionTri.hasValue() && isAllSelected()"
            [indeterminate]="selectionTri.hasValue() && !isAllSelected()" [aria-label]="checkboxLabel()">
          </mat-checkbox>
        </th>
        <td mat-cell *matCellDef="let row">
          <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? excludeOrInclude(row) : null"
            [checked]="selectionTri.isSelected(row)" [aria-label]="checkboxLabel(row)">
          </mat-checkbox>
        </td>
      </ng-container>

      <ng-container *ngFor="let column of displayedColumns">
        <ng-container *ngIf="column != 'select'">
        <ng-container [matColumnDef]="column">
          <th mat-header-cell *matHeaderCellDef> {{ column }} </th>
          <td mat-cell *matCellDef="let element"> {{element[column]}} </td>
        </ng-container>
      </ng-container>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="excludeOrInclude(row)">
      </tr>
    </table>
    <button class="addButton" mat-icon-button (click)="whichDialog()">+</button>
  </mat-tab> 

</mat-tab-group>