.FirstTab {
  color: white;
  overflow: scroll;
  height: 50vh;
  width: 100%;
}

.addButton {
  margin-left: 50%;
  background-color: grey;
  float: right;
  position: absolute;
  top: 5px;
  right:10px;
}

.mat-elevation-z8 {
  margin-right: 10%;
  background-color: black;
  color: white;
  width: 80%;
}

.mat-tab {
  color: white;
}

.mat-header-cell {
  color: white;
  background-color: #696969;
  text-align: center;
}

.mat-cell {
  color: white;
  text-align: center;
}

.mat-row:nth-child(even) {
  background-color: #696969;
}

.mat-row:nth-child(odd) {
  background-color: #808080;
}

.select_param {
  background-color: grey;
  width: 50%;
  margin-left: 20%;
  text-align: center;
}

.mat-tab-label .mat-tab-link .mat-tab-label .mat-ripple .ng-star-inserted .mat-tab-label-active {
  color: white !important;
}

.mat-select-value {
  background-color: grey;
}

.mat-tab-body-content .ng-trigger .ng-trigger-translateTab {
  height: 90% !important;
}