.FirstTab {
    color: white;
    overflow: scroll;
    height: 50vh;
    width: 100%;
}

.addButton {
    margin-left: 50%;
}

.mat-elevation-z8 {
    margin-left: 15%;
}

.select_param {
    background-color: grey;
    height: 15%;
    width: 50%;
}

.mat-tab-label .mat-tab-link .mat-tab-label .mat-ripple .ng-star-inserted .mat-tab-label-active{
    color: white !important;
}