<main>
  <nav>
    <h1>Données</h1>

    <mat-accordion class="accordion-headers-align">
      <mat-expansion-panel *ngFor="let data of datas">
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{data.name}}
          </mat-panel-title>
        </mat-expansion-panel-header>
        <ul>
          <hr>
          <li draggable="true" *ngFor="let field of data.fields" (dragstart)="onDragField($event,field)">
            {{ field }}
          </li>
        </ul>
      </mat-expansion-panel>
    </mat-accordion>



    <!-- <ul *ngFor="let data of datas">
      {{ data.name }}
      <li draggable="true" *ngFor="let field of data.fields" (dragstart)="onDragField($event,field)">
        {{ field }}
      </li>
    </ul> -->
  </nav>
  <div id="chartContainerSimple" (drop)="onDrop($event)" (dragover)="allowDrop($event)">
    <div class='charts' id='1'>
      <template #chart1Host></template>
    </div>
  </div>
  <aside>
    <button (click)="diviseChartsSegment()">
      Ajouter un graphe
    </button>
    Droite
  </aside>
</main>
<div id='templates'>
  <template #chart2Host></template>
  <template #chart3Host></template>
  <template #chart4Host></template>
</div>