<main>
  <nav>
    <div class="data">
      <h1>Données</h1>
      <hr size="1" color="lightgray">
      <mat-accordion class="accordion-headers-align">
        <mat-expansion-panel *ngFor="let data of datas">
          <mat-expansion-panel-header>
            <mat-panel-title>
              <h4>{{data.name}}</h4>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <hr size="1" color="lightgray">
          <h6 class="field" draggable="true" *ngFor="let field of data.fields" (dragstart)="onDragField($event,field.name,data.name)">
            {{ field.name }}
          </h6>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
  </nav>
  <div id="chartContainerSimple" (drop)="onDrop($event)" (dragover)="allowDrop($event)">

    <div class='charts' id='1'>
      <template #chartHost></template>
    </div>
    <div class="fab">
        <span class="fab-action-button">
              <i class="fab-action-button_icon icon-material_add" (click)="diviseChartsSegment()"></i>
          </span>
      </div>
  </div>
  <aside class="right_panel">
    <app-param-view [parentObs]="obsRightPanel" (messageEvent)="receiveMessage($event)" class="paramview"></app-param-view>    
  </aside>
</main>
<div id='templates'>
  <template *ngFor="let el of allTemplates; let i = index" id='{{ i+102 }}' #chartHost></template>
</div>