.accordion-headers-align .mat-expansion-panel-header-title {
  flex-basis: 0;
  color: ivory;
}

main-expansion-panel{
    width: 100%;
}

.mat-expansion-panel-header, .mat-expansion-panel-body{
    padding-right: 5px;
    padding-left: 10px;
}

main nav{
    direction: rtl;
    max-height: 90vh;
    overflow-y: auto;
    z-index: 10;
}


.data{
    direction: ltr;
}

.field{
    margin-left: 7%;
    margin-right: 50px;
}

h4 { 
    font-size: 0.85em;
}

  /* width */
::-webkit-scrollbar {
    width: 12px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px; 
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888; 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }
