mat-dialog-content {
    width: 95vw;
    max-width: 95vw;
}

.dialogTitle {
    background-color: blue;
    color: white;
    text-align: center;
}

.Panel {
    align-content: center;

    width: 100%;
    border: 1px solid blue;
    border-top: 5px solid blue;
}

.PanelDroite {
    width: 100%;
    border: 1px solid blue;
    border-top: 5px solid blue;
}

.contentdialog {
    width: 100vw;
    max-width: 100vh !important;
}

.part2 {
    margin-left: 15%;
    padding-bottom: 2%;
}

.input {
    margin-top: 2%;
    float: right;
}

.saveButton {
    margin-left: 40%;
}

.closeButton {
    margin-left: 2%;
}