<h2 mat-dialog-title class="dialogTitle">New filter</h2>


<mat-dialog-content class="contentdialog">

  <div class="Panel">
    <div class="matLabel">
      <mat-selection-list class="floating" #data>
        <mat-list-option class="text_check" checkboxPosition="before">inf à</mat-list-option>
        <mat-list-option class="text_check" checkboxPosition="before">inf égal à </mat-list-option>
        <mat-list-option class="text_check" checkboxPosition="before">égal</mat-list-option>
        <mat-list-option class="text_check" checkboxPosition="before">supérieur à </mat-list-option>
        <mat-list-option class="text_check" checkboxPosition="before">supérieur égal à </mat-list-option>
      </mat-selection-list>

    </div>
    <div class="input">
      Valeur : 
      <input class="matInput" matInput>
    </div>

  </div>


  <div class="part2">
    <br>
    <div class="ban">
      exclure
      <mat-slide-toggle>
        inclure
      </mat-slide-toggle>
    </div>
    Compris entre <input matInput #first_text>
    et <input matInput #last_text>
    <br>
  </div>

  <button type="button" class="btn btn-primary saveButton" color="primary" (click)="save()">Ajouter</button>
  <button type="button" class="btn btn-danger closeButton" color="primary" (click)="close()">Fermer</button>

</mat-dialog-content>