mat-dialog-content {
    width: 95vw;
    max-width: 95vw;
    height: 80vh;
}

.dialogTitle {
    background-color: blue;
    color: white;
    text-align: center;
}

.Panel {
    align-content: center;

    width: 100%;
    border: 1px solid blue;
    border-top: 5px solid blue;
}

.PanelDroite {
    margin-right: 5%;
    width: 100%;
    border: 1px solid blue;
    border-top: 5px solid blue;
}

.contentdialog {
    width: 100vw;
    max-width: 100vh !important;
}

.part2 {
    padding-bottom: 2%;
}

.input {
    margin-top: 2%;
    float: right;
    margin-right: 3% !important;
}

.saveButton {
    margin-top: 1%;
    margin-left: 35% !important;
}

.closeButton {
    margin-top: 1%;
    margin-left: 2% !important;
}

.ban {
    margin-left: 35%;
}