th, td {
    vertical-align: top;
    border-right: 2px solid rgb(255, 255, 255);
    padding-left: 16px !important;
    padding-top: 14px !important;
    border-bottom: 2px dotted rgba(255, 255, 255, 0.822);
    text-align: center;
  }

  table {
    width: 85%;
    border: 2px solid rgb(255, 255, 255);
    margin: auto;
 }

.header {
  text-align: center !important;
}

.container {
    position: relative;
    width:100%;
    height:100%;
  }