<div class="container">
  <ng-container *ngIf="type == 'tab'">
    <table>
      <tr>
        <ng-container *ngFor="let column of displayedColumns ; let i = index">
          <th class="header">
            {{ column }}
          </th>
        </ng-container>
      </tr>

      <ng-container *ngFor="let data of datasourceTable; let j = index">
        <tr>
          <ng-container *ngFor="let column of displayedColumns ; let i = index">
            <ng-container *ngIf="getRowSpan(column,j)">
              <td [attr.rowspan]="getRowSpan(column,j)">
                {{ transform(data[column],column) }}</td>
            </ng-container>
          </ng-container>
        </tr>
      </ng-container>
    </table>
  </ng-container>
  <ng-container *ngIf="type != 'tab'">
    <div>
      <canvas #myCanvas width="500" height="500">
        {{chart}}
      </canvas>
    </div>
  </ng-container>

</div>